body {
    font-family: 'Quicksand', serif;
    font-size: 30px;
    background-image: linear-gradient(to bottom right, azure, white, rgb(228, 143, 235));
    height: 100vh;
}

button {
    font-family: 'Quicksand', serif;
}

#choixP1, #choixP2 {
    opacity: 0;
}

main {
    display: flex;
    justify-content: space-between;
}

#compteurs {
    display: flex;
    justify-content: space-between;
}

h1 {
    text-align: center;
    color: plum;
}

#BoutonsP1, #BoutonsP2 {
    display: flex;
    flex-direction: column;
}

#Joueur2, #valider {
    margin-top: 25px;
}

#boutonRejouer, #boutonValider {
    display: flex;
    justify-content: center;
}

#Player1, #Player2 {
    display: flex;
}

#pierreImageJ1, #feuilleImageJ1, #ciseauxImageJ1 {
    translate: 100px;
    animation: J1 0.5s linear;
    
}

@keyframes J1 {
    0% {
        transform: translateX(0px);
        
    }
    100% {
        transform: translateX(100px);
    }
}

#pierreImageJ2, #feuilleImageJ2, #ciseauxImageJ2 {
    translate: -100px;
    animation: J2 0.5s linear;
    
}

@keyframes J2 {
    0% {
        transform: translate(0px);
        
    }
    100% {
        transform: translate(-100px); 
    }
}

#messageWinner {
    text-align: center;
    font-size: 48px;
}