body {
    font-family: 'Quicksand', serif;
    font-size: 30px;
}

button {
    font-family: 'Quicksand', serif;
}

main {
    display: flex;
    justify-content: space-between;
}

#compteurs {
    display: flex;
    justify-content: space-between;
}

h1 {
    text-align: center;
    color: plum;
}

#BoutonsP1 #BoutonsP2 {
    display: flex;
    flex-direction: column;
}

#Joueur2 {
    margin-top: 25px;
}

#valider {
    margin-top: 25px;
}

#boutonRejouer {
    display: flex;
    justify-content: center;
}

#boutonValider {
    display: flex;
    justify-content: center;
}

#Player1 {
    display: flex;
}
#Player2 {
    display: flex;
}