body {
    font-family: 'Quicksand', serif;
    font-size: 30px;
    background-image: linear-gradient(to bottom right, azure, white, rgb(228, 143, 235));
    height: 100vh;
}

button {
    font-family: 'Quicksand', serif;
}

#choixP1, #choixP2 {
    opacity: 0;
}

main {
    display: flex;
    justify-content: space-between;
}

#compteurs {
    display: flex;
    justify-content: space-between;
}

h1 {
    text-align: center;
    color: plum;
}

#BoutonsP1, #BoutonsP2 {
    display: flex;
    flex-direction: column;
}

#Joueur2, #valider {
    margin-top: 25px;
}

#boutonRejouer, #boutonValider {
    display: flex;
    justify-content: center;
}

#Player1, #Player2 {
    display: flex;
}